@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-city {
  background-image: url('assets/images/backgrounds/city.gif');
}

.bg-beach {
  background-image: url('assets/images/backgrounds/beach.gif');
}

.bg-river {
  background-image: url('assets/images/backgrounds/river.gif');
}

.bg-rain {
  background-image: url('assets/images/backgrounds/rain.gif');
}

.bg-space {
  background-image: url('assets/images/backgrounds/space.gif');
}

.bg-forest {
  background-image: url('assets/images/backgrounds/forest.gif');
}

.bg-thunder {
  background-image: url('assets/images/backgrounds/thunder.gif');
}

.bg-fire {
  background-image: url('assets/images/backgrounds/fire.gif');
}

.bg-desert {
  background-image: url('assets/images/backgrounds/desert.gif');
}

.nes-input,
.nes-textarea,
.nes-btn {
  border-image-repeat: stretch !important;
}

.c-pointer {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}
